* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: gray;
}
.container{
    max-width: 1200px;
    margin: auto;

}
.main{
    background-color: white;
}
.content{
    background-color: white;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}
.content h1{
    padding-bottom: 20px;
}
.particles-js {
  position: absolute;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  border: 2px solid red;
}
.header{
    height: 200px;
    width: 100%;
    color: white;
    border: 2px solid red;
    background-color: darkblue;
}
.header a{
    color: white;
    text-decoration: none;
}
.name{
    margin-top: 5%;
    border: 2px solid red;
    display: block;
    float: left;
    padding-right: 30px;
}
.menu li{
    margin-top: 5%;
    display: block;
    float: right;
    padding-right: 30px;
    border: 2px solid red;
}
.cards{
    display: block;
    float: left;
    line-height: 40px;
    padding-right: 20px;
}