* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
    line-height: 60px;
    background-color: #444;
}
.logo{
    color: white;
    background-color: #ff3600;
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 20px;
}
.nav{
    line-height: 60px;
    height: 60px;
    background-color: #444;
}
.nav li{
    display: block;
    float: left;
    padding-left: 20px;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav ul{
    list-style-type: none;
}
.content{
    padding: 60px;
}
.content img{
    max-width:100%;
}
.main{
    max-width: 70%;
    display: block;
    float: left;
}
.main h2{
    padding: 20px 0px;
}
.sidebar{
    max-width: 25%;
    display: block;
    float: right;
    border: 2px solid #aaa;
    padding: 10px;
    margin-bottom: 200px;
}
.sidebar h3{
    padding: 20px 0px;
}
.footer{
    clear: both;
    border-top: 2px solid #aaa;
}
.footer a{
    color: darkorange;
    text-decoration: none;
}
.footer ul{
    height: 40px;
    list-style-type: none;

}
.footer li{
    display: block;
    float: left;
    line-height: 40px;
    padding-right: 20px;
}