* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 800px;
    margin: auto; /*vaba ruum keskele*/
    background-color: #ffffff;
}
.header{
    background-color: rgba(94, 94, 94, 0.933);
    color: #ffffff;
    line-height: 100px;
    padding: 0px 20px;
}
.nav{
    background-color: #3f3f3f;
    color: #ffffff;
    height: 40px;
    padding-left: 20px;

}
.nav a{
    color: #ffffff;
    text-decoration: none;
}
.nav ul{
    height: 40px;
    list-style-type: none;
}
.nav li{
    display: block;
    float: left;
    line-height: 40px;
    padding: 0 20px 0 0; /*üles paremale alla vasakule*/
}
.content{
    padding: 10px 20px; /*üles_alla paremale_vasakule*/
}
.content p,h2{
    padding: 10px 0px;
}
.content img{
    width: 100%;

}
.content ul{
    margin: 20px;
}
.footer{
    background-color: #3f3f3f;
    color: #ffffff;
    line-height: 60px;
    padding-left: 20px;
}