* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: gray;
}
.container{
    max-width: 1200px;
    margin: auto;

}
.main{
    background-color: white;
}
.content{
    height: 200px;
    background-color: white;
    padding-top: 60px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.content p{
    overflow: hidden;
}
.content h1{
    padding-bottom: 20px;
}
.header{
    height: 580px;
    color: white;
    background-color: darkblue;
    position: relative;
}
.header a{
    color: white;
    text-decoration: none;

}
.name{
    margin-top: 500px;
    display: block;
    float: left;
    padding-left: 30px;
    z-index: 2;
    position: relative;
}
.menu{
    margin-top: 500px;
    display: block;
    float: right;
    padding-right: 30px;
    z-index: 2;
    position: relative;
}
.menu li{
    display: block;
    float: left;
    padding-right: 30px;
}
.cards{
    display: flex;
    min-height: 350px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 250px;
    padding: 20px 20px
}
.card img{
    width: 250px;
    height: 250px;
    padding: 2px 2px 0 0;
}
.card h2{
    padding-top: 12px;
    padding-bottom: 12px;
    color: darkcyan;
}
.footer{
    padding-top: 40px;
    height: 40px;
    text-align: center;
    background-color: white;
}

#particles-js{
position: absolute;
  width: 100%;
  height: 100%;
  background-color: #174123;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}